.idea/
.DS_Store
.ipynb_checkpoints
*.mp4
/opencv-bootcamp/11/opencv_bootcamp_assets_NB11.zip
/opencv-bootcamp/11/goturn.caffemodel
/opencv-bootcamp/11/goturn.prototxt
/opencv-bootcamp/12/opencv_bootcamp_assets_12.zip
/opencv-bootcamp/12/res10_300x300_ssd_iter_140000_fp16.caffemodel
/opencv-bootcamp/13/opencv_bootcamp_assets_NB13.zip
/opencv-bootcamp/13/models
/opencv-bootcamp/13/images
/opencv-bootcamp/14/opencv_bootcamp_assets_NB14.zip
/opencv-bootcamp/14/model
/singers/videos
/singers/audios
*.aac
__pycache__
*.aes
*.png
*.bin