.idea/
.DS_Store
__pycache__

/singers/videos
/singers/audios
/video_crypt/decrypted
/video_crypt/encrypted
/video_crypt/2decrypt
/video_crypt/2encrypt
/video_preview/2previewer
/video_preview/previewed
yolo_process/database

*.mp4
*.aac
*.aes
*.png
*.bin

local_launchpad.py

atest*


