.idea/
.DS_Store
.ipynb_checkpoints
*.mp4
/opencv-bootcamp/11/opencv_bootcamp_assets_NB11.zip
/opencv-bootcamp/11/goturn.caffemodel
/opencv-bootcamp/11/goturn.prototxt
/opencv-bootcamp/12/opencv_bootcamp_assets_12.zip
/opencv-bootcamp/12/res10_300x300_ssd_iter_140000_fp16.caffemodel
